@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$letter: #eff5f6;
@mixin border {
    border: 1px solid red;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background: url(../img/background.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    main {
        color: $letter;
        text-align: center;

        h1 {
            font-size: 52px;
            margin-top: 120px;
        }

        .countdown {
            display: flex;
            justify-content: space-evenly;
            margin-top: 100px;

            .number {
                font-size: 72px;
                font-weight: bolder;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    body {
        main {
            h1 {
                font-size: 36px;
            }
            .countdown {
                .number {
                    font-size: 60px;
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    body {
        main {
            h1 {
                font-size: 26px;
                margin-top: 50px;
            }
            .countdown {
                display: flex;
                flex-direction: column;
                margin-top: 30px;

                .number {
                    font-size: 48px;
                }
            }
        }
    }
}
